@import "https://unpkg.com/chota@latest";

.tabs {
  white-space: nowrap;
}

textarea {
  resize    : vertical;
  max-height: 20rem;
}

.needs-more {
  display: inline-block;
}

.needs-more::before {
  content: "⚠ ";
  color  : red;
  display: inline-block;
}

img.thumbnail {
  max-height: 12rem;
  margin    : 0 .1rem;
}

#thumbroll {
  position   : relative;
  overflow-x : auto;
  white-space: nowrap;
  display    : block;
  width      : 100%;
}

a.button {
  position: relative;
  z-index : 1;
}

a[data-change] {
  cursor: pointer;
}

.row {
  display: flex;
  width:100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0 1em;
}

.warning,.error,.info {
  border-radius: 4px;
  margin: .5em;
  padding: .5em;
  background-color: #DDD;
}

.warning {
  background-color: #dd8;
}

.error {
  background-color: #f39797;
}

.info {
  background-color: #97cff3;
}

.um {
  background-color: #aaf397 !important;
}

.lm {
  background-color: #97cff3 !important;
}

.ulm {
  background-color: #97f3ee !important;
}

.llm {
  background-color: #97a8f3 !important;
}

.urm {
  background-color: #f3b997 !important;
}

.lrm {
  background-color: #f3ea97 !important;
}

.ti {
  background-color: #f397d4 !important;
}

.li {
  background-color: #f39797 !important;
}

line.um,
line.lm,
line.ulm,
line.llm,
line.urm,
line.lrm,
line.ti,
line.li {
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
overflow: hidden;
}
line.um+line.um,
line.lm+line.lm,
line.ulm+line.ulm,
line.llm+line.llm,
line.urm+line.urm,
line.lrm+line.lrm,
line.ti+line.ti,
line.li+line.li {
  display: none;
}

line {
  display    : block;
  user-select: none;
  transition : background-color .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

line:nth-child(2n) {
  background-color: #dddddd;
}

line.selected {
  background-color: #ff8;
}

line:nth-child(2n).selected {
  background-color: #dd8;
}

line.just {
  background-color: #999;
}

line.selected.just {
  background-color: #cc0;
}

#zoomy {
  position        : fixed;
  right           : 0;
  top             : 0;
  height          : 100vh;
  background-color: rgba(255, 255, 255, .4);
  width           : 50vw;
}

/* Feedback */

#globalFeedback {
  visibility : hidden;
  min-width  : 250px;
  margin-left: -125px;
  text-align : center;
  position   : fixed;
  z-index    : 9;
  left       : 50%;
  bottom     : 30px;
}

#globalFeedback.show {
  visibility       : visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation        : fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade in and out */
@-webkit-keyframes fadein {
  from {
    bottom : 0;
    opacity: 0;
  }

  to {
    bottom : 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom : 0;
    opacity: 0;
  }

  to {
    bottom : 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom : 30px;
    opacity: 1;
  }

  to {
    bottom : 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom : 30px;
    opacity: 1;
  }

  to {
    bottom : 0;
    opacity: 0;
  }
}
