@import "https://unpkg.com/chota@latest";

.tabs {
  white-space: nowrap;
}

.hidden {
  display: none;
}

textarea {
  resize    : vertical;
  max-height: 20rem;
}

.needs-more {
  display: inline-block;
}

.needs-more::before {
  content: "⚠ ";
  color  : red;
  display: inline-block;
}

img.thumbnail {
  max-height: 12rem;
  margin    : 0 .1rem;
}

#thumbroll {
  position   : relative;
  overflow-x : auto;
  white-space: nowrap;
  display    : block;
  width      : 100%;
}

a.button {
  position: relative;
  z-index : 1;
}

a[data-change] {
  cursor: pointer;
}

.row {
  display: flex;
  width:100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0 1em;
}

.warning,.error,.info {
  border-radius: 4px;
  margin: .5em;
  padding: .5em;
  background-color: #DDD;
}

.warning {
  background-color: #dd8;
}

.error {
  background-color: #f39797;
}

.info {
  background-color: #97cff3;
}

/* Feedback */

#globalFeedback {
  visibility : hidden;
  min-width  : 250px;
  margin-left: -125px;
  text-align : center;
  position   : fixed;
  z-index    : 9;
  left       : 50%;
  bottom     : 30px;
}

#globalFeedback.show {
  visibility       : visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation        : fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade in and out */
@-webkit-keyframes fadein {
  from {
    bottom : 0;
    opacity: 0;
  }

  to {
    bottom : 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom : 0;
    opacity: 0;
  }

  to {
    bottom : 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom : 30px;
    opacity: 1;
  }

  to {
    bottom : 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom : 30px;
    opacity: 1;
  }

  to {
    bottom : 0;
    opacity: 0;
  }
}

/* TEI pseudoXSLT */
#textSample {
  font-variant: small-caps;
  font-weight: bold;
}
#textSample lg[type='stanza'],#textSample l {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-variant: initial;
  font-weight: initial;
  display: block;
  width: 100%;
}
